<!DOCTYPE html> {% extends 'testapp/base.html'%} {% block body_block %}
<style>
    body {
        background-color: #ddeb8f;
    }
    
    input {
        border-radius: 12px;
        width: 200px;
        justify-content: center;
    }
    
    .btn {
        color: black;
        background-color: peru;
        font-size: 19px;
    }
    
    .btn:hover {
        background-color: #f32c3d;
    }
</style>
<div class="conttainer" align='center'>
    <h1>Employee Insertion Form</h1>
    <form method="post">
        {{form.as_p}} {%csrf_token%}
        <input type="submit" class='btn btn-primary btn-lg' value="Insert Records">


    </form>
</div>
{% endblock %}